*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    resize: vertical;
    transition: 0.5s;
}

body {
    background-color: rgb(30, 30, 30);
    max-width: 100%;
}

img {
    height: auto;
}

#header {
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.separator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3em;
    background-color: black;
    margin: 15em 0 0 0;
    position: relative;
}

.titulo {
    padding: 5em 0 0 0;
}

.row-padding {
    padding: 0 10em;
}

/* ------------------HEADER------------------ */

.caja-logo{
    position: absolute;
    z-index:3;
    top: 20px;
    LEFT: 60;
}

.header-container{
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    align-items: center;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0.5em 1em black;
}

.container-menu{
    display: flex;
    justify-content: flex-end;
    padding: 0 3em 0 0;
}

.items-menu{
    background-color: rgb(30, 30, 30);
    margin: 0 0 0 1em;
}

.items-menu a{
    padding: 1em 1em 1em 1em;
    display: inline-flex;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.items-menu a:hover{
    background-color: #006FFF;
}

.items-menu:nth-child(1){
    background-color: #006FFF;
}

/* ------------------PORFOLIO BODY------------------ */

.porfolio-container{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
}

/* ---INICIO--- */

.seccion-inicio {
    display: flex;
    flex-direction: column;
}
.rrss {
    margin: 10em 0 0 10em;
}
.rrss a{
    text-decoration: none;
}
.instagram-ini, .linkedin-ini, .facebook-ini, .twitter-ini {
    margin: 0 1em 0 0;
}
.seccion-inicio p{
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin: 1em 0 0 2.5em;
}
.caja-disenador {
    color: white;
    font-size: 60px;
    border: solid 5px white;
    margin: 1em 0 0 2.5em;
    padding: 1em;
    max-width: 10em;
}
.caja-seguir {
    /* margin: -3em 0 0 10em; */
    position: absolute;
    bottom: 20px;
    left: 60px;
}

/* ---SERVICIOS--- */

.seccion-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 3em 0 0 0;
}
.titulo-servicios {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 40px;
    font-weight: 900;
}
.titulo {
    display: flex;
    justify-content: center;
    letter-spacing: 0.3em;
    margin: 0 0 0.5em 0;
}
.adorno-titulo-servicios {
    display: flex;
    justify-content: center;
    margin: 0 0 2em 0;
}

.container-cajas-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

    .servicio-disenoweb, .servicio-disenoapps, .servicio-uxui, .servicio-ilustracion, .servicio-conceptart, .servicio-artefinal {
        padding: 2em;
        margin: 1em;
        background-color: #006FFF;
        width: 20em;
        height: 20em;
        color: white;
    }
/*Diseño Web*/
        .servicio-disenoweb h2 {
            font-size: 30px;
            padding: 2em 0 1em 0;
        }
        .servicio-disenoweb p {
            font-size: 16px;
        }
        .linea-disenoweb {
            margin: 5em 0 0 0;
            height: 5px;
            width: 1.875em;
            background-color: white;
            border: none;
        }
/*Diseño Apps*/
        .servicio-disenoapps h2 {
            font-size: 30px;
            padding: 2em 0 1em 0;
        }
        .servicio-disenoapps p {
            font-size: 16px;
        }
        .linea-disenoapps {
            margin: 5em 0 0 0;
            height: 5px;
            width: 1.875em;
            background-color: white;
            border: none;
        }
/*UXUI*/
        .servicio-uxui h2 {
            font-size: 30px;
            padding: 2em 0 1em 0;
        }
        .servicio-uxui p {
            font-size: 16px;
        }
        .linea-uxui {
            margin: 5em 0 0 0;
            height: 5px;
            width: 1.875em;
            background-color: white;
            border: none;
        }
/*Ilustración*/
        .servicio-ilustracion h2 {
            font-size: 30px;
            padding: 2em 0 1em 0;
        }
        .servicio-ilustracion p {
            font-size: 16px;
        }
        .linea-ilustracion {
            margin: 5em 0 0 0;
            height: 5px;
            width: 1.875em;
            background-color: white;
            border: none;
        }
/*Concept Art*/
        .servicio-conceptart h2 {
            font-size: 30px;
            padding: 2em 0 1em 0;
        }
        .servicio-conceptart p {
            font-size: 16px;
        }
        .linea-conceptart {
            margin: 5em 0 0 0;
            height: 5px;
            width: 1.875em;
            background-color: white;
            border: none;
        }
/*Arte Final*/
        .servicio-artefinal h2 {
            font-size: 30px;
            padding: 2em 0 1em 0;
        }
        .servicio-artefinal p {
            font-size: 16px;
        }
        .linea-artefinal {
            margin: 5em 0 0 0;
            height: 5px;
            width: 1.875em;
            background-color: white;
            border: none;
        }
    
/* ---SOBRE MÍ--- */

.seccion-sobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 3em 0 0 0;
}
    .titulo-sobremi {
    color: white;
    font-size: 40px;
    font-weight: 900;
    }

.container-sobremi {
    display: flex;

}
    .sobremi-foto {
        width: 50%;
    }
    .sobremi-info {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 50%;
        color: white;
    }
    .buenas {
        max-width: 9em;
        padding: 1em;
        border: solid white 5px;
        margin: 0 0 2em 0;
    }
        .buenas img {
            margin: 0 0 0 1em;
        }
    .sobremi-info p {
        font-size: 16px;
    }

    .container-info-datos {
        display: flex;
        flex-wrap: wrap;
        padding: 2em;
        border: solid #006FFF 5px;
        margin: 2em 0 0 0;
    }
            .container-info-datos h3 {
                margin: 0 0 0.5em 0;
            }
            .container-info-datos p {
                color: #CECECE;
            }
            .container-info-datos a {
                color: #CECECE;
            }
            .info-nombre, .info-telefono, .info-mail, .info-redes {
                width: 50%;
            }
            .info-nombre, .info-telefono {
                margin: 0 0 2em 0;
            }
            .primer-email {
                margin: 0 0 0.5em 0;
            }
            .redes-container {
                display: flex;
                flex-wrap: wrap;
            }
                .instagram , .linkedin , .facebook , .twitter {
                    width: 45%;
                }
                .instagram, .linkedin {
                    margin: 0 0 0.5em 0;
                }

.container-botones {
    display: flex;
    flex-direction: row;
}
    .boton-contactame a{
        display: flex;
        flex-direction: row;
        padding: 1em;
        text-decoration: none;
        color: white;
        background-color: #006FFF;
        border: solid #006FFF 5px;
        margin: 2em 2em 0 0;
    }
        .boton-contactame a h3, .boton-descargacv a h3 {
            margin: 0 1em 0 0;
        }
    
    .boton-contactame a:hover {
        display: flex;
        flex-direction: row;
        padding: 1em;
        text-decoration: none;
        color: white;
        background-color: rgb(30, 30, 30);
        border: solid #006FFF 5px;
        margin: 2em 2em 0 0;   
    }    

    .boton-descargacv a{
        display: flex;
        flex-direction: row;
        padding: 1em;
        text-decoration: none;
        color: white;
        margin: 2em 0 0 0;
        border: solid white 5px;
    }
    .boton-descargacv a:hover {
        display: flex;
        flex-direction: row;
        padding: 1em;
        text-decoration: none;
        color: white;
        background-color: #006FFF;
        border: solid #006FFF 5px;
        margin: 2em 2em 0 0;
    }



/* ---HABILIDADES--- */

.seccion-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 3em 0 0 0;
}

    .container-habilidades {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }

        .caja-habilidades {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 6em;
            height: 6em;
            border: solid #006FFF 5px;
            padding: 1em;
            margin: 1em 1em;
        }

/* ---TRABAJOS--- */

.seccion-trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 3em 0 0 0;
    }
.container-trabajos {
    display: flex;
    justify-content: center;
    height: 100vh;
}
    .box-images {
        display: flex;
        align-content: center;
        flex-flow: column wrap;
    }
.box-images img {
    margin: 0.5em;
    width: 80%;
}

/* ---MARCAS--- */
.seccion-marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 3em 0 0 0;
    }
    .container-marcas {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        max-width: 70%;
        margin: auto;
    }
    .marca {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: solid #006FFF 5px ;
        padding: 1em;
        margin: 1em;
    }
/* ---CONTACTO--- */
.seccion-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    }

.container-contacto {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin: 0 auto 3em auto;
    width: 80%;
}
.container-cajas {
    display: flex;
    justify-content: space-between;
    margin: 0 0 3em 0;
}
.cajas-contacto {
    padding: 1em;
    border: solid #006FFF 5px;
    width: 40%;
    color: white;
}
    .cajas-contacto:nth-child(2) {
        margin: 0 2em;
    }
    .cajas-contacto h3{
        margin: 1.5em 0 1em 0;
    }
.container-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    color: white;
    border: 5px solid #006FFF;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
    .container-datos{
        display: flex;
        justify-content: space-between;
        width: 92%;
        margin: 0 0 3em 0;
        padding: 3em 0 0 0;
    } 
        .container-nombre-mail, .container-email-mail {
            display: flex;
            flex-direction: column;
            width: 46%;
        } 
    .tag {
        margin: 0 0 1em 0;
    }
    .container-msg {
        display: flex;
        flex-direction: column;
        width: 92%;
    }
    .container-msg input{
        height: 200px;
    }
    .container-formulario input, .container-formulario textarea {
        padding: 0.5em 0.2em;
    }
    .caja-enviar {
        display: flex;
        justify-content: flex-end;
        width: 92%;
        margin: 3em 0;
    }
    .caja-enviar button{
        padding: 0.8em 3em;
        border-radius: 0;
        border: none;
        color: rgb(30, 30, 30);
        font-size: 16px;
    }

    .caja-enviar button:hover {
        background-color: #006FFF;
        color: white;
    }


/* ---RESPONSIVE--- */

@media (max-width: 1500px) {
    .row-padding {
        padding: 0 7em;
    }
    .container-sobremi {
        flex-direction: column;
    }
    .sobremi-info {
        width: 100%;
    }
    .info-mail {
        margin: 0 0 1em 0;
    }
}
@media (max-width: 1200px) {
    .row-padding {
        padding: 0 4em;
    }
/* ---Contacto--- */
    .container-cajas {
        flex-direction: column;
    }
    .cajas-contacto {
        width: auto;
        margin: 0 0 1em 0;
    }
    .cajas-contacto:nth-child(2) {
        margin: 0 0 1em 0;
    }
    .container-datos {
        flex-direction: column;
        margin: 0 0 1em 0;
        padding: 3em 0 0 0;
    }
    .container-nombre-mail {
        margin: 0 0 1em 0;
    }
    .container-nombre-mail, .container-email-mail {
        width: 100%;
    }
}

